doctype html
html(lang='en')
    head
        meta(charset="utf-8")

        title Webpack Front-end dev boilerplate

    body
        h1 Webpack Front-end dev boilerplate

        h2 I want ...
        ul
            li.done Live refresh HTML
            li.done Live refresh CSS
            li.done Live refresh JS
            li.done Using stylus
            li.done Using Pug
            li.done Linting with AirBnB base rules
            li.done Lint on save (see readme)
            li.done Convert nested pug files into HTML files
            li.done Place CSS and JS in asset folder for production
            li.done Copy all assets into /dist folder
            li.done Firebase for quick deployment (requires configuration)
                
        

        h2 To come
        ul
            li Possibility of having chunks if files are too big
            li Possibility to have several output configs for side projects
            li Organize pug files with layout and mix-ins examples