@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Muli');

body, html {
  margin: 0;
  padding: 20px
  font-family: 'Muli', sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #49576d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
}

.done {
  color: #aaa;
}

ul li {
  margin: 4px 0 6px
}

ul li ul {
  & li {
    margin: 0
    }
}